.expertGuidance,
.learnFromSeasoned {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.expertGuidance {
  width: 359px;
  font-weight: 600;
}
.learnFromSeasoned {
  height: 129px;
  width: 1203px;
  flex-shrink: 0;
}
.curriculumText,
.resourcesFrame {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.resourcesFrame {
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--font-size-13xl);
}
.curriculumText {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.tailoredCurriculum {
  height: 53px;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.socialMediaFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs);
  box-sizing: border-box;
  max-width: 100%;
}
.ourCurriculumIs {
  height: 86px;
  width: 1203px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.facebookFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-mid);
  box-sizing: border-box;
  min-height: 89px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
}
.interactiveLearning {
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  max-width: 100%;
}
.tikTokFrame {
  width: 421px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  max-width: 100%;
}
.engageInDynamic {
  height: 129px;
  width: 1224px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.engageInDynamicInteractiveWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
}
.accessATreasure,
.comprehensiveResources {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.comprehensiveResources {
  width: 534px;
  font-weight: 600;
}
.accessATreasure {
  height: 129px;
  width: 1203px;
  flex-shrink: 0;
}
.accessATreasureTroveOfStuWrapper,
.comprehensiveResourcesParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.accessATreasureTroveOfStuWrapper {
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--font-size-13xl);
}
.comprehensiveResourcesParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  min-height: 222px;
}
.flexibleScheduling,
.weUnderstandThe {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.flexibleScheduling {
  width: 438px;
  height: 48px;
  font-weight: 600;
}
.weUnderstandThe {
  height: 129px;
  width: 1203px;
  flex-shrink: 0;
}
.flexibleScheduleFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  font-size: var(--font-size-13xl);
  font-family: var(--font-segoe-ui);
}
.curriculumFrame,
.flexibleSchedulingParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.flexibleSchedulingParent {
  align-self: stretch;
  gap: var(--gap-9xl);
  text-align: left;
  font-family: var(--font-inter);
}
.curriculumFrame {
  width: 1320px;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  min-height: 1303px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-segoe-ui);
}
@media screen and (max-width: 950px) {
  .expertGuidance {
    font-size: var(--font-size-13xl);
  }
  .learnFromSeasoned {
    font-size: var(--font-size-7xl);
  }
  .tailoredCurriculum {
    font-size: var(--font-size-13xl);
  }
  .ourCurriculumIs {
    font-size: var(--font-size-7xl);
  }
  .interactiveLearning {
    font-size: var(--font-size-13xl);
  }
  .engageInDynamic {
    font-size: var(--font-size-7xl);
  }
  .comprehensiveResources {
    font-size: var(--font-size-13xl);
  }
  .accessATreasure {
    font-size: var(--font-size-7xl);
  }
  .flexibleScheduling {
    font-size: var(--font-size-13xl);
  }
  .weUnderstandThe {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 450px) {
  .expertGuidance {
    font-size: var(--font-size-5xl);
  }
  .learnFromSeasoned {
    font-size: var(--font-size-lgi);
  }
  .tailoredCurriculum {
    font-size: var(--font-size-5xl);
  }
  .ourCurriculumIs {
    font-size: var(--font-size-lgi);
  }
  .interactiveLearning {
    font-size: var(--font-size-5xl);
  }
  .engageInDynamic {
    font-size: var(--font-size-lgi);
  }
  .comprehensiveResources {
    font-size: var(--font-size-5xl);
  }
  .accessATreasure {
    font-size: var(--font-size-lgi);
  }
  .flexibleScheduling {
    font-size: var(--font-size-5xl);
  }
  .weUnderstandThe {
    font-size: var(--font-size-lgi);
  }
}
