.homeFrameChild {
  height: 97px;
  width: 1920px;
  position: relative;
  background: linear-gradient(90deg, #cda470 15.91%, rgba(68, 65, 62, 0.56));
  display: none;
  max-width: 100%;
}
.home,
.home1 {
  height: 27px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.home1 {
  z-index: 2;
  margin-left: -57px;
}
.aboutUsFrame {
  width: 102px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.aboutUs,
.aboutUs1 {
  height: 27px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.aboutUs1 {
  z-index: 2;
  margin-left: -100px;
}
.aboutUsFrame1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl) 0 0;
}
.ourServices,
.ourServices1 {
  height: 27px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.ourServices1 {
  z-index: 2;
  margin-left: -137px;
}
.aboutUsFrame2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ourCources,
.ourCources1 {
  height: 27px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.ourCources1 {
  z-index: 2;
  margin-left: -140px;
}
.aboutUsFrame3,
.homeFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.homeFrame {
  align-self: stretch;
  background: linear-gradient(90deg, #cda470 15.91%, rgba(68, 65, 62, 0.56));
  justify-content: center;
  padding: var(--padding-16xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-32xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}
@media screen and (max-width: 750px) {
  .aboutUsFrame {
    display: none;
  }
  .homeFrame {
    gap: var(--gap-6xl);
  }
}
