.navbar {
  margin: 1%;
 
  height: 100px;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  color: white;
  font-size: larger;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.iconBox{
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  
}
.icon{
  width: 100px;
}



.home{
  text-decoration: none;
  color: white;
  font-size: larger;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  gap: 30px;
  margin-right: 100px;
  align-items: center;
  width: 100%;
}

@media screen and (media-width: 600px) 
{
  
}
@media screen and (media-width: 400px) 
{
  .menu{
    display: flex;
    flex-direction: column;
  }
}