.digitalMarketingChild {
  align-self: stretch;
  position: relative;
  background-color: var(--color-white);
  height: 491px;
  display: none;
}
.digitalMarketing1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 65px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.wrapperRectangle46Child {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  height: 100%;
  transform: scale(1.552);
}
.wrapperRectangle46 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-11xl);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.digitalMarketingParent {
  width: 1677px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-94xl);
  min-height: 666px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-gray-100);
  font-family: var(--font-poppins);
}
.digitalMarketingRefers {
  height: 215px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.digitalMarketingRefersToThWrapper {
  width: 1403px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 79px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-segoe-ui);
}
.hereAreSome {
  height: 43px;
  position: relative;
  display: inline-block;
}
.hereAreSomeWaysYouCanPotWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 150px;
  box-sizing: border-box;
  max-width: 100%;
}
.frameChild {
  height: 136px;
  width: 1920px;
  position: relative;
  background-color: var(--color-burlywood);
  display: none;
  max-width: 100%;
}
.facebookIcon {
  width: 75px;
  height: 74px;
  position: relative;
  object-fit: cover;
}
.facebookWrapper {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.instagramIcon {
  width: 73px;
  height: 74px;
  position: relative;
  object-fit: cover;
}
.instagramWrapper {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.tiktokIcon {
  width: 75px;
  height: 74px;
  position: relative;
  object-fit: cover;
}
.tiktokWrapper {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.whatsappIcon {
  width: 75px;
  height: 74px;
  position: relative;
  object-fit: cover;
}
.whatsappWrapper {
  height: 70px;
  width: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
}
.frameParent,
.rectangleParent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frameParent {
  width: 402px;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  z-index: 1;
}
.rectangleParent {
  align-self: stretch;
  background-color: var(--color-burlywood);
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-9xl) var(--padding-5xl)
    var(--padding-xl);
  box-sizing: border-box;
  min-height: 136px;
}
.digitalMarketing {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-78xl);
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-segoe-ui);
}
@media screen and (max-width: 975px) {
  .digitalMarketing {
    gap: var(--gap-29xl);
  }
}
@media screen and (max-width: 950px) {
  .digitalMarketing1 {
    font-size: var(--font-size-32xl);
    line-height: 52px;
  }
  .digitalMarketingRefers,
  .hereAreSome {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 700px) {
  .digitalMarketingParent {
    gap: var(--gap-37xl);
  }
  .digitalMarketing {
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 450px) {
  .digitalMarketing1 {
    font-size: var(--font-size-19xl);
    line-height: 39px;
  }
  .digitalMarketingParent {
    gap: var(--gap-9xl);
  }
  .digitalMarketingRefers,
  .hereAreSome {
    font-size: var(--font-size-lgi);
  }
  .frameParent {
    flex-wrap: wrap;
    justify-content: center;
  }
}
